@font-face {
  font-family: "Univers Next";
  src: url('Fonts/Univers\ Next\ Pro\ Black.ttf');
  src: url('Fonts/UniversNextProBold.ttf');
}

body {
  background-color: white;
}

h1{
  font-family: "Univers Next", "Pro Bold" ;
}
h2{
  font-family: "Univers Next", "Pro Bold" ;
}
h3{
  font-family: "Univers Next", "Pro Bold" ;
}

.topnav {
  background-color: #84bd00;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
	position: sticky;
  width: 100%;
	top: 10px;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 16px;
  float: left;
  text-align: center;
  font-family: "Univers Next", "Pro Bold" ;
  

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #72a200;
  color: lightgray;
}


/* Add a color to the active/current link */
.topnav a.active {
  color: lightgray;
}

/* Style the Logo on the navigation bar */
#logo_topnav {
  float: right;
  
  width: 10%;
  height: 10%;
  padding: 0px 30px;
}

.footer { 
  background-color: lightgray;
  text-align: center;
  bottom: 5px;
  width: 99.25%;
  max-height: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.25%;
}

.footer a {
  
  font-family: "Univers Next", "Pro Bold" ;
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: gray;
}