.range{
    /*background-color: white;*/
    float:none;
    display:flex;
    right: auto;
    margin: 0%;
    width: auto;
    height: 100%;
}

.range div{
    width: 35%;
    height: 100%;
    padding-right: 20px;
    /*background-color: gray;*/
    margin:0% 2.5% 0% 2.5%;
    overflow: hidden;
    position: relative;
    text-align: center;

}

.range div:hover img {
    filter: brightness(0.5); /* Darkens the image when the container is hovered over */
}

.range div img{
    max-height: 100%;
    width: auto;
    position: absolute;
    animation: scrollImage 90s linear infinite;
    z-index: 1; 
    transition: filter 0.5s ease; /* Adds a transition for a smoother effect */
}

@keyframes scrollImage {
    0% {
      left: -20%;
    }
    100% {
      left: -300%; 
    }
}

.image-text {
    position: absolute;
    /*background-color: gray;*/
    white-space: nowrap;
    width: 400%;
    top: 75%;
    color: white;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease; /* Adds a transition for a smoother effect */
    z-index: 2;
}
  
.range div:hover .image-text {
    opacity: 1; /* Displays the text when the container is hovered over */
  }
  