h3{


}

.container-index-1 {
  display: flex;
}

.Image-1-Index {
  height: auto;
  width: 40%;

}

.social-links {
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }

.social-links  a {
    height: 45px;
    width: 45px;
    margin: 0 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgb(217, 210, 255); 
    border-radius: 50%; 
    border: 1px solid rgba(214, 202, 214, 0.72);
    /*box-shadow: 4px 4px 6px -1px rgb(187, 192, 196),
      -2.5px -2.5px 4.5px -1px rgb(173, 177, 177);*/
    transition: transform 1s; 
  }

.social-links  a i {
    font-size: 25px; 
    color: rgb(77, 113, 119);
    transition: transform 1s; 
     }

.social-links  a:hover {
    box-shadow: inset 6px 6px 8px -2px rgb(168, 170, 172),
      inset -6px -6px 8px -2px rgb(193, 211, 214),
      0px 6px 5px -5px rgb(124, 146, 143);
    border: 2px solid rgba(194, 171, 194, 0.3);
    transform: translateY(3px);
  }

.social-links  a:hover i {
    transform: scale(0.85);
  }

.social-links  a:hover .fa-instagram {
    color: #e4405f;
  }

.social-links  a:hover .fa-youtube {
    color: #cd201f;
  }

.social-links  a:hover .fa-tiktok {
    color: #000000;
  }

.social-links  a:hover .fa-github {
    color: #333333;
  }