.container_studiengang {
    width: 30%;
    height: 100%;
    /*background-color: gray;*/
    overflow: hidden;
    position: absolute;
    text-align: center;

}

#container-1 {
    top: 0%;
    left: 3%;
    margin-right: 1.66666667%;
}
#container-2 {
    top: 0%;
    left: 35%;
    margin-right: 2%;
}
#container-3 {
    top: 0%;
    left: 67%;
}

.container_studiengang:hover img {
    filter: brightness(0.5); /* Darkens the image when the container is hovered over */
}

.container_studiengang img{
    max-height: 100%;
    width: auto;
    position: absolute;
    animation: scrollImage 90s linear infinite;
    z-index: 1; 
    transition: filter 0.5s ease; /* Adds a transition for a smoother effect */
}

@keyframes scrollImage {
    0% {
      left: -20%;
    }
    100% {
      left: -300%; 
    }
}

.image-text {
    position: absolute;
    /*background-color: gray;*/
    white-space: nowrap;
    width: 100%;
    top: 85%;
    color: white;
    font-size: 24px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 1.5s ease; /* Adds a transition for a smoother effect */
    z-index: 2;
}
  
.container_studiengang:hover .image-text {
    opacity: 1; /* Displays the text when the container is hovered over */
  }
  